:root {
  --pv-modal-distance: 1em;
  --pv-modal-shrink: .95;
  --pv-modal-duration: .2s;

  --pv-green: #33790F;
  --pv-green-hover: #398712;
  --pv-green-box-shadow: #33790F83;

  --pv-amber: #E8AE01;
  --pv-amber-hover: #FFBF00;
  --pv-amber-box-shadow: #E8AE0183;

  --pv-red: #861D13;
  --pv-red-hover: #9B2318;
  --pv-red-box-shadow: #861D1383;

  --pv-cyan: #025D5D;
  --pv-cyan-hover: #046A6A;
  --pv-cyan-box-shadow: #025D5D83;
}

dialog {
  animation: pvfadeout var(--pv-modal-duration) ease-out forwards;
}

dialog[open] {
  animation: pvfadein var(--pv-modal-duration) ease-in forwards;
}

.modal-is-open {
  pointer-events: auto;
  touch-action: auto;
}

dialog>article {
  animation: pvslidedown var(--pv-modal-duration) ease-out forwards;
}

dialog[open]>article {
  animation: pvslideup var(--pv-modal-duration) ease-in forwards;
}

dialog>article>header>.close {
  cursor: pointer;
}

@keyframes pvfadein {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: flex;
  }
}

@keyframes pvfadeout {
  0% {
    opacity: 1;
    display: flex;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes pvslideup {
  0% {
    margin-top: var(--pv-modal-distance);
    transform: scale(var(--pv-modal-shrink));
  }

  100% {
    margin-top: 0;
    transform: scale(1);
  }
}

@keyframes pvslidedown {
  0% {
    margin-top: 0;
    transform: scale(1);
  }

  100% {
    margin-top: var(--pv-modal-distance);
    transform: scale(var(--pv-modal-shrink));
  }
}